*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.navbar{
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content:center;
    display: block;
}

.navbar nav{
    position: fixed;
    margin: 10vh 76vh;
    width: 500px;
    height: 60px;
    background-color: #6cc7e4;
    border-radius: 30px;S
}

.navbar nav img{
    margin-top: 5px;
    margin-left: 10px;
    width: 10%;
    height: 80%;
}

.navbar a{
    margin-top: 0px;
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #1b363f;
}

.navbar::after{
    content: "";
    clear: both;
    display: table;
}

.header{
    width: 100%;
    height: 1500px;
    padding: 0 50px;
    background-color: white;
    box-sizing: border-box;
}


.header-text-box{
    margin-top: 110px;
    height: 0px;
    max-width: 100%;
    text-align: center;
}

.header-text-box h1{
    line-height: 0.5;
    font-weight: 2000;
    font-size: 70px;
    margin-bottom: 20px;
    padding: 0;
}

mark.blue{
    color:#6cc7e4;
    background: none;
}

mark.orange{
    color:#ef8d4b;
    background: none;
}

.header-text-box p{
    color:#1b363f;
    font-size: 25px;
    line-height: 0.8;
    margin-bottom: 10px;
    font-family:  "Century Gothic";
}
/*
.text-box{
    margin-top: 90px;
    max-width: 550px;
}

.text-box p{
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.text-box a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #6cc7e4;
    padding: 10px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 6px;
}

.text-box p1{
    font-size: 25px;
    margin-bottom: 40px;
    padding: 0;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
} 

.column img{
    width: 100%;
    border: 3px solid #ef8d4b;
    border-radius: 20px;
}

.column h{
    color: #1b363f;
    font-size: 50px;

}

.column p{
    color: black;
    font-size: 20px;

}
  

.row:after {
    content: "";
    display: table;
    clear: both;
  } */